
body{




    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   
  

    font-family: 'Inter', sans-serif;
    
  

    background-color:white;
}












.content{


background-color: black;


align-items: center;
justify-content: center;
display: flex;


padding: 50px;
margin-top: 50px;
width: 60%;
height: 50%;

flex-wrap: wrap;


}


.main{
    background-color: hsl(244, 38%, 16%);
    width: 70%;
    height: 70%;

  margin: 50px;
 

  border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

  
}




.box1 h4{
  color: hsla(0, 0%, 100%, 0.6);  
  font-size: 10px;
}

.box1 h3{
    color: white;
    font-size: large;
}


 






.sub-main{


    display: flex;
   
}



.main-box{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2.5rem;
    margin: 10px;
}

.sub-1{
  
   
    width: 50%;
}

.sub-1 p{
    color: hsla(0, 0%, 100%, 0.6);;
}



.sub-2{
    width: 50%;
    margin: 0%;
    border-radius: 0px 10px 10px 0px  ;
    background-image: url( image-header-desktop.jpg);
    opacity: 0.2;
   background-repeat: no-repeat;
   background-size: cover;
}


.sub-1 h1{
    font-weight: 800;
    padding: 30px;

    color: hsl(0, 0%, 100%);
}

.sub-1 p{
    padding: 30px;

}

.main-box{
    align-items: center;

}
span{
    color: blueviolet;
}


img{
    height: 100%;
    width: 100%;
}





@media  (max-width: 1200px){


    .content .main .sub-main .sub-1 {
    display: block;
    width: 100%;
    text-align: center;
}

.sub-2{
   height: 50vh;
    width:100%;

    border-radius: 10px 10px 0px 0px  ;
}


.main-box{
    display: flex;
}

    .content .sub-main{
        height:100%;
        display: flex;
        flex-direction: column-reverse;
    }
}



@media  (max-width: 1000px){

    .main-box{
        display: grid;
    }

}